html {
    scroll-behavior: smooth;
}

body {
    font-family: 'TT Travels';
    background-color: $primary;
}

button {
    font-family: 'TT Travels';
}

.link, a {
    text-decoration: none;
}

.loading {
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
}

.logo {
    margin: 0 auto;
    padding-top: 58px;
    height: auto;
    width: 227px;

    img {
        height: 48px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 470px) {
    .logo {
        width: 133px;
        padding-top: 52px;

        img {
            height: 28px;
        }
    }

    .logo.castLogo {
        padding-top: 46px;
    }
}