/* thin */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Thin'), local('TTTravels-Thin'),
        url('../../fonts/TTTravels-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* extra-light */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels ExtraLight'), local('TTTravels-ExtraLight'),
        url('../../fonts/TTTravels-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* light */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Light'), local('TTTravels-Light'),
        url('../../fonts/TTTravels-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* regular */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Regular'), local('TTTravels-Regular'),
        url('../../fonts/TTTravels-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* medium */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Medium'), local('TTTravels-Medium'),
        url('../../fonts/TTTravels-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* demi-bold */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels DemiBold'), local('TTTravels-DemiBold'),
        url('../../fonts/TTTravels-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* bold */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Bold'), local('TTTravels-Bold'),
        url('../../fonts/TTTravels-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* extra-bold */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels ExtraBold'), local('TTTravels-ExtraBold'),
        url('../../fonts/TTTravels-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* extra-bold-italic */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels ExtraBold Italic'), local('TTTravels-ExtraBoldItalic'),
        url('../../fonts/TTTravels-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* black */
@font-face {
    font-family: 'TT Travels';
    src: local('TT Travels Black'), local('TTTravels-Black'),
        url('../../fonts/TTTravels-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}