.characterBox {
    position: relative;

    .cardLayout {
        width: 290px;
        height: 296px;
    }

    .characterBoxContent {
        padding: 16px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .image {
            height: 216px;
            width: 258px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }

        .text {
            margin-top: 24px;

            p {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .characterBox {
        .cardLayout {
            width: 200px;
            height: 204px;
        }
    
        .characterBoxContent {
            padding: 12px;
    
            .image {
                height: 150px;
                width: 176px;
            }
    
            .text {
                margin-top: 12px;
    
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .characterBox {
        .cardLayout {
            width: 134px;
            height: 138px;
        }
    
        .characterBoxContent {
            padding: 8px;
    
            .image {
                height: 100px;
                width: 118px;
            }
    
            .text {
                margin-top: 10px;
    
                p {
                    font-size: 10px;
                }
            }
        }
    }
}