.itemBox {
    position: relative;

    .cardItemLayout {
        width: 360px;
        height: 96px;
    }

    .itemBoxContent {
        padding: 10px 24px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;

        .itemBoxText {
            color: #fff;

            .itemHeading {
                font-size: 16px;
                font-weight: normal;
            }

            .itemDesc {
                margin-top: 5px;
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .itemBox {
        .cardItemLayout {
            width: 260px;
            height: 76px;
        }

        .itemBoxContent {
            .itemBoxText {
                .itemDesc {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .itemBox {
        .cardItemLayout {
            width: 200px;
            height: 66px;
        }

        .itemBoxContent {
            padding: 10px;

            .itemBoxText {
                .itemHeading {
                    font-size: 12px;
                }

                .itemDesc {
                    margin-top: 2px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .itemBox {
        .cardItemLayout {
            width: 151px;
            height: 50px;
        }

        .itemBoxContent {
            padding: 10px;

            .itemBoxText {
                .itemHeading {
                    font-size: 8px;
                }

                .itemDesc {
                    font-size: 12px;
                }
            }
        }
    }
}