.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;

    .arrowIcon {
        color: $green;
        font-size: 1.4rem;
    }

    .arrowLeft {
        margin-right: 4px;
    }

    &:hover {
        background: #fff;
    }
}

.slick-prev::before, .slick-next::before {
    display: none;
}

@media screen and (max-width: 660px) {
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        height: 40px;
        width: 40px;

        .arrowIcon {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 470px) {
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        height: 32px;
        width: 32px;

        .arrowIcon {
            font-size: 1rem;
        }

        .arrowLeft {
            margin-right: 2px;
        }
    }
}